<div class="main-container">
    <h2 class="main-header mb-4">About the Program</h2>
    <div class="main-wrapper">
        <div class="content-wrapper">
            <p>
                In response to escalating safety concerns regarding traffic accidents in Colorado’s Express Lanes
                network, in May 2022 the State Legislature passed – with bipartisan and unanimous political support –
                House Bill 22-1074. The CTIO Board of Directors followed on June 2022 by updating its “Rules Governing
                the Administrative Toll Enforcement Process” 2 CCR 606-1 to accommodate the revised legislation.
            </p>
            <p>In practical terms, CTIO has been given the mandate to start enforcing safety violations in its network
                of Express Lanes throughout Colorado.
            </p>
            <br>
            <br>
            <div class="main-heading">
                Violations currently being enforced
            </div>
            <div class="main-content">
                <div class="record">
                    <h5 class="text-upper w-50">Type of Violation</h5>
                    <h5 class="w-50">WHY</h5>
                </div>
                <div class="record">
                    <div class="items">
                        <div class="item">
                            <strong>Entering/exiting Express Lane outside authorized ingress/egress zones</strong>
                        </div>
                        <div class="item">
                            Safety hazard that frequently causes accidents, as Express Lanes regularly have speed
                            differentials compared to general purpose lanes
                        </div>
                    </div>
                </div>
                <div class="record">
                    <div class="items">
                        <div class="item">
                            <strong>Tampering of license plate
                            </strong>
                            (tinted covers, photo block spray, or other concealment methods)
                        </div>
                        <div class="item">
                            Obstructed license plates do more than just help people evade the authorities. For instance
                            a hit-and-run, road rage incident, or other type of dangerous and/or illegal interaction
                        </div>
                    </div>
                </div>
                <div class="record">
                    <div class="items">
                        <div class="item">
                            <strong>Unauthorized vehicle on I-70 Mountain Express Lanes
                            </strong>
                            (more than two axles, 25 ft. or longer, trailers)
                        </div>
                        <div class="item">
                            The I-70 Mountain Express Lanes are 11 feet wide instead of the Federal Highway
                            Administration 12 feet mandate, thus it is not safe to be driven by oversized vehicles

                        </div>
                    </div>
                </div>
                <div class="record">
                    <div class="items">
                        <div class="item">
                            <strong>Vehicle using the I-70 Mountain Express Lanes outside operating hours
                            </strong>
                        </div>
                        <div class="item">
                            When the I-70 Mountain Express Lanes are closed, they act as wide shoulders for emergency
                            stops
                        </div>
                    </div>
                </div>
                <div class="map-wrapper">
                    <img src="../../assets/images/violations-rules.png" alt="">
                </div>
               
                
            </div>
        </div>
    </div>
</div>