<div class="main-container">
    <div class="fields-wrapper my-4">
        <div class="attachment-type">
            <div class="label px-3">
                ATTACHMENT TYPE
            </div>
            <div class="field w-100">
                <select required>
                    <option disabled selected value="">SELECT OPTION</option>
                    <option value="Death certificate or other proof">Death certificate or other proof</option>
                </select>
            </div>
        </div>
    </div>
    <div class="fields-wrapper my-5">
        <div class="attachment-file">
            <div class="label px-3">
                ATTACH FILE
            </div>
            <div class="field upload w-100">
                <!-- <input type="file" name="file-upload" id=""> -->
                <input class="box__file" accept=".pdf,.jpg,.jpeg,.png,.doc,
                .docx,.xls,.xlsx,.wav,.mp3" type="file" name="files[]" id="file"
                    data-multiple-caption="{count} files selected" multiple />
                <label for="file"><span class="box__dragndrop">drag and drop files Or </span><span
                        class="box__browse">Browse Files</span></label>
                <!-- <button class="box__button">Upload</button> -->
            </div>
            <div class="helper-text mt-1"> Maximum file size is 5mb and supporting formats are pdf, jpg, jpeg, png, doc,
                docx, xls, xlsx, wav, mp3.</div>
        </div>
    </div>
    <div class="fields-wrapper my-5">
        <div class="details">
            <div class="label px-3">
                DETAILS
            </div>
            <div class="field w-100">
                <textarea rows="4" cols="100" value="" placeholder="ENTER DETAILS HERE"></textarea>
                <span class="remaining">Remaining characters 500</span>
            </div>
        </div>
    </div>
    <div class="final-declarations my-5">
        <span>
            <input type="checkbox" id="declaration">
        </span>
        <label class="text" for="declaration">By Clicking Submit, I declare under penalty and perjury thet the above
            information is true and correct.</label>
    </div>
    <div class="button-wrapper mt-4">
        <button class="cancel me-3" (click)="btnAction.emit('cancel')">CANCEL</button>
        <button class="submit" (click)="btnAction.emit('submit')">Submit</button>
    </div>
</div>