/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0 !important;
}
.w-100 {
  width: 100%;
}
.overflow-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

textarea {
  resize: none !important;
}

.rotate-left{
  transform: rotate(-180deg) !important;
}
button {
  border: none;
  outline: none;
}